*{
    margin: 0;
    padding: 0;
    background-color:beige;
}

.calculadora_imc{
    width: 100%;
    position: relative;
    font-size: 13px;
    color: #707070;
    left: 32%;
    margin: 5%;
    
}

.titulo{
    font-size: 14px;
    color: #959595;
    display: inline;
    text-transform: uppercase;
}

.titulo2{
    margin: 20px 0;
    font-size: 20px;
    color: #1f5eaf;
    font-weight: 700;
}

.input-cal{
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;

}

.input-cal span{
    display: block;
    color: #1f5eaf;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.input-cal small{
   font-size: 85%;
}

.input-cal input{
    display: block;
    width: 130px;
    padding: 6px 10px;
    border: 1px solid #1f5eaf;
    border-radius:10px;

}

.ul-botao{
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 25px;
}


ul{
    display: block;
    width: 100%!important;
    margin-top: 10px;
    margin-bottom: 25px;

}

.botao{
    background: #1f5eaf;
    position: relative;
    padding: 13px 45px 13px 28px;
    font-size: 13px;
    color: #fff;
    border-radius: 30px;
    margin-bottom: 8px;
    text-decoration: none;
    text-align: center;
    transition: 2s;
    outline: 0;
    border: 0;

}

.ul-botao i{
    color: #fff;
    background-color: brown;
}