body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.calculator {
    background-color: #444;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 400px;
}

.display {
    background-color: #333;
    padding: 20px;
    color: #f0f0f0;
}

.display input {
    width: 100%;
    padding: 10px;
    font-size: 24px;
    color: #fff;
    background-color: transparent;
    border: none;
    text-align: right;
}

.botoes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    padding: 20px;
    font-size: 20px;
    border: none;
    background-color: #777;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}

.operator {
    background-color: #ff9500;
}

.verde {
    background-color: #4cd964;
}
